main {
  min-height: calc(100vh - (53px + 70px));
  display: flex;
  place-content: center;
  place-items: center;
  flex-direction: column;
}

.error {
  margin: 0px 16px;
  position: absolute;
  top: 170px;
  text-align: center;
  background-color: var(--error-color-dark);
  padding: 7px 14px;
  border-radius: 6px;

  &__text {
    color: var(--error-color);
  }
}

.hero {
  display: flex;
  flex-direction: column;
  // place-content: center;
  place-items: center;
  gap: 14px;
}

.greeting h1 {
  font-size: 40px;
}

.join {
  display: flex;
  flex-direction: column;
  gap: 18px;
  place-content: center;
  place-items: center;

  &__title {
    font-size: 20px;
  }
  &__list {
    display: flex;
    gap: 26px;
  }

  &__btn {
    background: var(--background-color-secondary);
    border: none;
    width: 71px;
    height: 71px;
    border-radius: 9px;
    cursor: pointer;
    display: flex;
    place-content: center;
    place-items: center;

    .btn__icon {
      color: var(--text-color-primary);
    }

    &:hover {
      background: var(--orange-100);

      & > .btn__icon {
        color: var(--text-color-dark);
      }
    }
  }
}

.separator {
  display: flex;
  place-content: center;
  place-items: center;
  gap: 19px;
  &__line {
    height: 1px;
    background-color: var(--text-color-secondary);
    width: 158px;
  }
  &__text {
    font-size: 20px;
  }
}

.search {
  &__form {
    display: flex;
    gap: 10px;
    place-items: center;
    place-content: center;
    flex-direction: column;
  }

  &__field {
    display: flex;
    place-items: center;
    place-content: center;
    position: relative;
  }

  &__input {
    background: var(--background-color-secondary);
    border: 1px solid var(--background-color-secondary);
    border-radius: 9px;
    width: 362px;
    height: 33px;
    padding: 0px 8px;
    color: var(--text-color-primary);
    font-size: 16px;
    &::placeholder {
      color: var(--text-color-primary-disabled);
    }

    &:focus-visible {
      outline: none;
      border: 1px solid var(--orange-100);

      & + .search__btn button {
        border: 1px solid var(--orange-100);
        border-left: none;
      }
    }
  }

  &__icon {
    position: absolute;
    right: 12px;
  }

  &__btn {
    display: flex;
    place-content: center;
    place-items: center;
    background-color: var(--orange-100);
    border: none;
    border-radius: 9px;
    height: 29px;
    cursor: pointer;

    &:hover {
      background-color: var(--orange-100-dim);
    }
    p {
      color: var(--text-color-dark);
      font-size: 20px;
      padding: 0 28px;
    }
  }
}

@media (max-width: 576px) {
  .join__list {
    display: grid;
  }

  .search__input {
    width: 260px;
  }

  .separator__line {
    width: 70px;
  }
}
